{% extends 'app/base.html' %}


{% block meta_description %}
<meta content="The most comprehensive head-to-head records for teams in the Premier League, La Liga,
 Serie A, Bundesliga" name="title">
<meta content="Looking for your team match results between 2002 and 2018? Find them here. All fields below are optional, but the start and end date is needed for a search." name="description">
{% endblock meta_description %}


{% block add_script %}
{% endblock add_script %}
{% block ads_script %}
{% endblock ads_script %}
{% block ads %}
{% endblock ads %}
{% block ads_ %}
{% endblock ads_ %}

{% block content %}

<div class="text-center mt-5">
    <h1>
        The most comprehensive head-to-head records for teams in the Premier League, La Liga,
 Serie A, Bundesliga</h1><h4 class="mt-4">Looking for your team match results between 2002 and 2018? Find them here. All fields below are optional, but the start and end date is needed for a search.</h4></div>
	<div class="col-12 col-md-6 p-3">
			<form method="GET" action="">
				<div class="row">
				{% for field in form %}
					{% if field.is_hidden %}
						{% else %}
						<div class="col-12 mb-3">
							<h5 class="display-6">{{ field.label_tag }} {% if field.field.required %}
									<span style="color: red;">*</span>
								{% endif %}</h5>
							<div>{{ field }}</div>
						</div>
						{% endif %}
				{% endfor %}
				</div>
				<div>
					<button type="submit" class="btn btn-outline-primary mt-3">Search</button>
				</div>
			</form>
	</div>
{% endblock content %}