{% extends 'app/base.html' %}

{% block ads_script %}
{% endblock ads_script %}
{% block ads %}
{% endblock ads %}
{% block ads_ %}
{% endblock ads_ %}


{% block content %}
<div class="row mt-5">

<h1 class="text-center">Your Saved Analyses</h1>
<div class="col-4">
	{{user.username|title}}
	<p>{{user.user_credits}}</p>
	<a href="{% url 'payment-page' %}">make payment</a>
</div>

<div id="table-container" hx-swap="outerHTML">
        {% include 'partials/user_page.html' %}
 </div>

</div>

{% endblock content %}